@import "base/normalize.scss";

body {
    position: relative;
    background: #000;
}

.app-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.deepway-slider {
    // position: relative;
    .slick-arrow {
        position: absolute;
        z-index: 1000;
        top: 20px;
        border: none;
        background: #000;
        outline: 2px solid rgba(255, 255, 255, 0.3);
        padding: 7px 20px;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.3);
        font-family: Open Sans;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: all .2s;
        &:hover {
            transform: scale(1.1);
            outline: 2px solid rgba(255, 255, 255, 0.7);
            color: rgba(255, 255, 255, 0.8);
        }
    }
    .slick-prev {
        left: 40%;
    }
    .slick-next {
        right: 40%;
    }
    .slick-slide {
        // position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        img {
            display: block;
            // width: 100%;
            max-width: 100%;
            height: auto;
            max-height: 100vh;
        }
    }
}